{% extends "base.html" %}
{%load static%}

{% block content %}
<div class="container">
    <a class=" mt-2 btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="{% url 'posts:post-feed' %}">  Feed  </a>
</div>
<section id="form-container">
    <img id="logo" src="{% static "images/chat-icon.png" %}" alt="">
    <div class="flex flex-col items-center gap-3 w-full  ">
        <h1 class="text-3xl font-bold" >Wellcome to MyChat</h1>
        <p class="text-lg">A group chat application</p>
        <form id='form'>
            <div class="form-field">
                <input type="text" name="channel"  placeholder="Enter your room name">
            </div>
            <div class="form-field">
                <input type="submit" value="join a room">
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        let form = document.getElementById("form");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            let channel = form.channel.value;
            console.log( {channel})
            
            let response = await fetch('get_token/', {
                method:'POST'
                ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'channel': channel
                })
            })
            let data = await response.json();
            
            sessionStorage.setItem("CHANNEL", channel);
            sessionStorage.setItem("UID", data.uid);
            sessionStorage.setItem("TOKEN", data.token);
            sessionStorage.setItem("USERNAME", data.username);


            
            window.open('/video/room/', '_self')
        });


    </script>
{% endblock javascript %}

